<!DOCTYPE html>
<html lang="en">
<section id="about" class="about">
      <div class="container-fluid">
        <h2 class="display-4 lh-1 mb-4 text-center">About us</h2>
        <div class="row">
          <div class="col-xl-5 col-lg-6
              video-box d-flex
              justify-content-center
              align-items-stretch
              aos-init
              aos-animate" data-aos="fade-right">
       <img src="img/slide/bathroom2.jpg"
       class="d-block mx-lg-auto" alt="Elmbridgea painting brand logo" width="349" height="188">
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 aos-init aos-animate" data-aos="fade-left">
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                With over 25 years’ combined experience,
                <br>
              We pride ourselves in providing the highest quality finish
                <br>
              to meet any individual’s vision.
                <br>
              With our clients’ interests always remaining at the forefront of our business.
                <br>

              We are always clean and efficient With a professional manner to keep disruption and stress to our clients and family to a minimum.
            </p>
          </div>
        </div>
      </div>
    </section>


