<!DOCTYPE html>

<style>

#footerNav{
background-color: #6c757d;
}

</style>


<html lang="en">
<section class="bg-light">
        <nav class="navbar navbar-expand  fixed-bottom" id="footerNav">
            <div class="container">
        <ul class="navbar-nav w-100 nav-justified">
            <li class="nav-item" >
              <a href="mailto:info@elmbridgepainting.com" 
                 title="Email Elmbridgepainting and Decorating Services Ltd"
                 style="color: white; width: 240px;" 
                 class="fa fa-envelope ">
                        Email us info@elmbridgepainting.com 
              </a>   
            </li>
            <li class="nav-item">
                <a href="tel:07707921887<" style="color:white"
                 title="Call Elmbridgepainting and Decorating Services Ltd"
                 style="color: white;" 
                 class="fa fa-phone ">
                    Call 
                    07707 921 887
                </a>
            </li>
            <li class="nav-item">
                <a href="tel:07763472408<" 
                 style="color: white;" 
                 title="Call Elmbridgepainting and Decorating Services Ltd"
                 class="fa fa-phone">
                    Call 
                    07763 472 408
                </a>
            </li>
        </ul>
     </div>
    </nav>
            <div class="py-5 text-center text-black">
                <div class="row py-5">
                        <div class="mx-auto col-lg-10">
                            <p class="text-center" id="demo2">Copyright ©2021Elmbridgepainting and Decorating Services Ltd.</p>
                            <script type="text/javascript">
                                var d = new Date();
                                document.getElementById("demo2").innerHTML = 
                                "Copyright &copy" + d.getFullYear() + 
                                "Elmbridge Painting and Decorating Services Ltd."
                            </script>
                        </div>
                </div>
            </div>
        <section>
   </body>
</html>

