<!DOCTYPE html>
<html lang="en">
<style>
#nav1{
background-color: #6c757d;
}
#nav2{
    margin-top: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
        </style>
      <nav class="navbar navbar-expand fixed-top" id="nav1">
        <div class="container-fluid">
            <ul class="navbar-nav w-100 nav-justified">
                <li class="nav-item">
                    <div class="facebook">
                        <a href="https://www.facebook.com/profile.php?id=100070020624202"
                            title="Follow us on Facebook"
                            target="_blank"
                            rel="noopener">
                        <i class="fa fa-facebook" style="font-size:40px;color:white;padding-left:30px " i=""></i>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="instagram">
                        <a href="https://elmbridgepainting.com"
                            title="Follow us on Instagram"
                            target="_blank"
                            rel="noopener">
                        <i class="fa fa-instagram " style="font-size:40px;color:white;padding-left:30px " i=""></i>
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="twitter">
                        <a href="https://twitter.com/elmbridgepaint1"
                            title="Follow us on Twitter"
                            target="_blank"
                            rel="noopener">
                        <i class="fa fa-twitter " style="font-size:40px;color:white;padding-left:30px " i=""></i>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" id="nav2">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 nav-justified">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" title="Elmbridgepainting Home " href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"  title="Interior decorating page"href="/interior">Interior</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" title="Exterior decorating page" href="/exterior">Exterior</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
              title="Painting Decoaration" href="/#river">River Access</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page"
              title="Painting Decoaration" href="/painting">Painting and Decoration </a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" title="Commercial page" href="/commercial">Commercial</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" title="Contact" href="/contact">Contact</a>

        </li>
      </ul>
    </div>
  </div>
</nav>
