<!DOCTYPE html>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Designed and hosted by MicrometreUK.">
    <title>Elmbridge Painting and Decorating Services Ltd</title>
    <link rel="icon" type="image/x-icon" href="img/logos/logo.png" />
    <!--rel="stylesheet preconnect"
    crossorigin="anonymous"-->
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="./js/bootstrap.min.js"></script>
    <link rel="stylesheet preconnect" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
