<!DOCTYPE html>
<html lang="en">


<style>
    #nav3{
    margin-top: 116px;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    }
</style>
    <section id="nav3" class="d-flex justify-content-center align-items-center">
<div class="logo">
    <a class="navbar-brand" href="/" title="micrrometre logo ">

        <img src="img/logos/logo-about.png"
        class="d-block mx-lg-auto"
        alt="Elmbridgea painting brand logo"
        width="329"
        height="188">



</a>
</div>

  </section>
