<!DOCTYPE html>
<html lang="en">
<section class="bg-light">
            <div class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-10 col-xl-7">
                            <div class="text-center">
                                <h2 class="display-4 lh-1 mb-4">Services</h2>
                                <div class="fs-4 mb-5 fst-italic">
                                    <p class="lead fw-normal text-muted mb-5 mb-lg-0">
High Standard of painting, decorating and refurbishment across Elmbridge and surrounding areas.
From internal and external to residential and commercial decoration, we cover it all.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<section class="bg-light" id="river">
    <div class="container-fluid text-center">
        <h2 class="display-4 lh-1 mb-4">
            River Acccess
        </h2>
    </div>
        <div class="row featurette">
            <p class="lead text-center">
            </p>
      </div>
</section>

<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
        <br>
        <br>
        <br>
        <br>
        <br>
      <h1>
 We have access to hard-to-reach areas like river properties including islands via boat.
      </h1>
      <h2>
All our services are available to these properties.
      </h2>
    </div>
  </section>

<section id="about" class="about">
      <div class="container-fluid">
        <h2 class="display-4 lh-1 mb-4 text-center">About us</h2>
        <div class="row">
          <div class="col-xl-5 col-lg-6 
              video-box d-flex 
              justify-content-center 
              align-items-stretch 
              aos-init 
              aos-animate" data-aos="fade-right">
       <img src="img/logos/logo-about.png" class="d-block mx-lg-auto" alt="Elmbridgea painting brand logo" width="349" height="188">
          </div>
          <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5 aos-init aos-animate" data-aos="fade-left">
            <p class="lead fw-normal text-muted mb-5 mb-lg-0">
                With over 25 years’ combined experience,
                <br>
              We pride ourselves in providing the highest quality finish 
                <br>
              to meet any individual’s vision.
                <br>
              With our clients’ interests always remaining at the forefront of our business. 
                <br>

              We are always clean and efficient with a professional manor to minimise disruption, 
              for our clients and their families.
            </p>
          </div>
        </div>
      </div>
    </section>


<section class="bg-secondary" id="promise-bg">
    <div class="article-list">
        <div class="container" style="color: white;">
            <div class="intro">
                <h2 class="text-center display-4 lh-1 mb-4">
                    Our Promise
                        </h2>
                <p class="lead fw-normal text-center">
              Full client satisfaction with thorough walk through and final inspection before completion.
                            </p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="img/slide/kitchen-2.jpg" alt="Kitchen white paint">
                <p class="lead fw-normal text-center">
                    Work carried out to the highest of standards.
                                        </p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="img/slide//kitchen-3.jpg" alt="Open plan kitchen ">
                <p class="lead fw-normal text-center">
                We remain clean and organised throughout and thorough clean will be carried out on completion.
                                        </p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="img/slide/leavingroom-1.jpg" alt="Leaving room Sample">
                <p class="lead fw-normal text-center">
                    Your home will be treated with the utmost respect.
                    </p>
                </div>

            <p class="lead text-center">
            Before work commences any specific guidelines or requests made by our clients 
            <br>will be adhered 
                to as closely as possible from start to finish. 

                </p>

                <h2 class="text-center display-4 lh-1 ">
                Customers satisfaction is our top priority.
                            <!--2-->
            </h2></div>
        </div>
    </div>
</section>
        <hr class="featurette-divider">
        <!-- /END THE FEATURETTES -->

<section class="bg-light">
    <div class="container">
        <h1 class="text-center">Areas we cover</h1>
<br><p class="text-center">Esher, Walton on Thames, Weybridge, Claygate, East Molesey, Cobham, Hersham, Oxshott, Thames Ditton, Long Ditton, Stoke D’Abernon, Hinchley Wood, Downside, St Georges Hill, Weston Green, Whiteley Village, Byfleet, West End and Oatlands.
                </p>
</div><p class="text-center">If you live in a surrounding area, please give us a call and we may still be able to help.
    </p>
</section>

</div>
