<!DOCTYPE html>
<html lang="en">
<style>
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

#map {
  text-align:center;
  color:black;
}
</style>

<section class="bg-light" id="map">
    <div class="header">
        <div class="inner-header flex">
            <div class="container">
                <h1 class="text-center">
                    Areas we cover
                </h1>
                    <p class="text-center">Esher, Walton on Thames, Weybridge, Claygate,
                        East Molesey, Cobham, Hersham, Oxshott, Thames Ditton, Long Ditton,
                        Stoke D’Abernon, Hinchley Wood, Downside,
                        St Georges Hill, Weston Green, Whiteley Village, Byfleet, West End and Oatlands.
                    </p>
                    <p class="text-center">
                        If you live in a surrounding area, please give us a call as we may still be able to help.
                    </p>
                       <img src="img/map.webp"
                       class="img-fluid"
                       alt="Elmbridgea srvice map"
                       width="949"
                       height="288">
            </div>
        </div>
    <div>
<section>


