<!DOCTYPE html>
<style>
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

h1 {
  font-weight:300;
  letter-spacing: 2px;
  font-size:48px;
}

#moto-header {
  text-align:center;
  color:black;
}
</style>

    <div class="moto-header">
            <div class="py-5 text-center text-black bg">
                <h1 class="display-4 lh-1 mb-4">
                        Professional Painters and Decorators in Elmbridge and surrounding areas.
                </h1>
        </div>
    </div>
