<!DOCTYPE html>
<html lang="en">
<section class="bg-secondary" id="promise-bg">
    <div class="article-list">
        <div class="container" style="color: white;">
            <div class="intro">
                <h2 class="text-center display-4 lh-1 mb-4">
                    Our Promise
                        </h2>
                <p class="lead fw-normal text-center">
              Full client satisfaction with thorough walk through and final inspection before completion.
                            </p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="img/slide/kitchen-2.webp" alt="Kitchen white paint">
                <p class="lead fw-normal text-center">
                    Work carried out to the highest of standards.
                                        </p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="img/slide//kitchen-3.webp" alt="Open plan kitchen ">
                <p class="lead fw-normal text-center">
                We remain clean and organised throughout. Thorough cleaning  will be carried out on completion.
                </p>
                </div>
                <div class="col-sm-6 col-md-4 item">
                    <img class="img-fluid" src="img/slide/leavingroom-1.webp" alt="Leaving room Sample">
                <p class="lead fw-normal text-center">
                    Your home will be treated with the utmost respect.
                    </p>
                </div>

            <p class="lead text-center">
            Before work commences any any specific guidelines or requests made by our clients
            will be adhered to as closely as possible from start to finish.
            <br>
                </p>
                <h2 class="text-center display-4 lh-1 ">
                Customers satisfaction is our top priority.
            </h2></div>
        </div>
    </div>
</section>
