<!DOCTYPE html>
<html lang="en">
    <style>
#hero {
    color: white;
    background: url("./img/slide/river.jpg") top center;
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    color: #fff;
    top: 56%;
    padding: 1rem;
    margin: 1rem;
    font-family: Oxygen, sans-serif;
}



    </style>
    <section class="bg-light" id="river">
    <div class="container-fluid text-center">
        <h2 class="display-4 lh-1 mb-4">
            River Access
        </h2>
    </div>
        <div class="row featurette">
            <p class="lead text-center">
            </p>
      </div>
</section>


<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container ">
        <br>
        <br>
        <br>
        <br>
        <br>
      <h1>
  We can access hard-to-reach areas like riverside properties and islands via a boat.
      </h1>
      <h2>
All our services are available to these properties.
      </h2>
    </div>
  </section>
