<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container-fluid" style="font-family: font-sans-serif">

<header>
  <%- include('../partials/header'); %>
</header>
                <br>
                <br>
<div class="container-fluid">
    <div class="py-5">
            <div class="row py-5">
                <div class="mx-auto col-lg-10">
                        <p class="lead fw-normal text-muted mb-5 mb-lg-0">
The easiest way to contact us is by giving us a call to arrange a viewing of the work and a no-obligation quote.
Alternatively, you can email us at info@elmbridgepainting.com.
                        </br>
Please provide your name and telephone contact details in the email so we can get back to you at the very earliest opportunity.
We are also on Facebook, Instagram and Twitter.</br>
                        </p>
                </div>
            </div>
        </div>
    </div>



<footer>
  <%- include('../partials/footer'); %>
</footer>
</body>
</html>
